<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="getUserList" resultType="com.example.demo.pojo.User">
        select *
        from t_user;
    </select>

    <select id="findUserById" resultType="com.example.demo.pojo.User">
        select *
        from t_user
        where id = #{id}
    </select>
    <select id="findByCondition" resultType="com.example.demo.pojo.User">
        select *
        from t_user
        <where>
            <choose>
                <when test="gender != null">
                    and gender = #{gender}
                </when>
                <when test="addr != null">
                    and addr = #{addr}
                </when>
            </choose>
        </where>
        <!--        <where>-->
        <!--            <if test="gender != null and gender != '' ">-->
        <!--                gender = #{gender}-->
        <!--            </if>-->
        <!--            <if test="addr != null and addr != '' ">-->
        <!--                and addr like "%"#{addr}"%"-->
        <!--            </if>-->
        <!--        </where>-->
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        values (null, #{username}, #{password}, #{gender}, #{addr})
    </insert>
    <update id="updateUserById">
        update t_user
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="gender != null">
                gender=#{gender},
            </if>
            <if test="addr != null">
                addr=#{addr},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateUserByMap">
        update t_user
        set username=#{username},
            gender=#{gender},
            addr=#{addr}
        where id = #{id}
    </update>
    <delete id="deleteUserByIds">
        delete
        from t_user
        where id = #{id};
    </delete>
    <delete id="deleteUserByIdList" parameterType="Integer">
        delete from t_user
        where id in
        <foreach collection="idList" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>

    </delete>
</mapper>